@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: poppins;
    }

    .custom-select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent url('data:image/svg+xml;utf8,<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>') no-repeat right 10px center;
        background-size: 16px;
        padding-right: 3px; /* Adjust padding to make room for the arrow */
      }
} 